
# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
.env
*.env
.env.*

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE configs
.vscode/
.idea/

# Ignore build/output folders
dist/
build/


ssss
ssssssss